/* 나눔고딕 한글 ( regular, bold, extra-bold 사용 가능) */
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");

:root {
  font-family: "Nanum Gothic", sans-serif;
  height: 100%;
  width: 100%;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin: 0;
}

video {
  width: 24rem;
  height: 18rem;
  margin: 2rem;
  background: #2c3e50;
}

.videos {
  display: grid;
  grid-template-rows: 250px 250px;
  grid-template-columns: 500px 300px;
  align-items: center;
  justify-content: center;
}

.video1 {
  width: 500px;
  grid-row: span 2;
  align-items: center;
  justify-content: center;
}

.video2 {
  display: grid;
  grid-template-rows: 30% 70%;
  grid-template-columns: 25% 25%;
  align-items: center;
  justify-content: center;
}

#yourVideo {
  grid-column: span 2;
}

#sVideo {
  width: 12rem;
  height: 9rem;
  margin: 0;
}

#lVideo {
  width: 30rem;
  height: 24rem;
  margin: 0;
}

.body-wrapper {
  min-height: calc(100vh - 200px);
  width: 100%;
}

.inner-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.endCall {
  margin: 100px 0;
}

.lButton {
  margin: 25px;
  width: 100px;
  height: 10px;
  align-items: center;
  justify-content: center;
}
