footer{
    height : 100px;
    width: 100%;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer-contact{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}